pre .str, code .str { color: #65B042; } /* string  - hijau */
pre .kwd, code .kwd { color: #E28964; } /* keyword - kuning gelap */
pre .com, code .com { color: #AEAEAE; font-style: italic; } /* comment - abu-abu */
pre .typ, code .typ { color: #bdb76b; } /* type - kuning yaiz */
pre .lit, code .lit { color: #3387CC; } /* literal - biru */
pre .pun, code .pun { color: #bdb76b; } /* punctuation - kuning yaiz */
pre .pln, code .pln { color: #fff; } /* plaintext - putih */
pre .tag, code .tag { color: #77bdff; } /* warna tag html/xml    - biru langit */
pre .atn, code .atn { color: #dd7700; } /* warna nama attribute html/xml  - oranye */
pre .atv, code .atv { color: #65B042; } /* warna nilai attribute html/xml - hijau */
 
pre .dec, code .dec { color: #3387CC; } /* decimal - biru */
pre.prettyprint, code.prettyprint {
    background-color: #2f3741;
    border: none!important; border-left: 4px solid #fff!important;
}
 
pre.prettyprint {
    overflow: auto;
    margin: 1em auto;
    padding: 1em;
}
 
/* Specify class=linenums on a pre to get line numbering */
ol.linenums { margin-top: 0; margin-bottom: 0; color: #AEAEAE; } /* IE indents via margin-left */
li.L0,li.L1,li.L2,li.L3,li.L5,li.L6,li.L7,li.L8 { list-style-type: decimal!important; }
 
/* Alternate shading for lines */
li.L1,li.L3,li.L5,li.L7,li.L9 {
    background: #2f3741!important;
}
